<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            margin-top: 10%;
            margin-left: 35%;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="row">
        <aside class="col-sm-6">

            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1" style="margin-left: 70px">Sign up
                        <a th:href="@{/login}" class="btn btn-default btn-outline-primary" style="float: right">Sign in
                        </a>
                    </h4>
                    <div class="message" style="display: none;"></div>
                    <hr>
                    <form id="register-user" th:action="@{/register}" method="POST"
                          onsubmit="return false">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="email"
                                       class="form-control"
                                       placeholder="email"
                                       name="username"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="name"
                                       name="name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="surname"
                                       name="surname"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       placeholder="phone"
                                       name="phone"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-flag"></i> </span>
                                </div>
                                <select name="countryId"
                                        id="countryId"
                                        class="form-control">
                                    <option selected>Country</option>
                                    <option th:each="country : ${countryList}"
                                            th:value="${country.id}"
                                            th:text="${country.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="city"
                                       name="city"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <select name="type"
                                        id="type"
                                        class="form-control">
                                    <option selected>Type</option>
                                    <option value="PRODUCER">PRODUCER</option>
                                    <option value="USER">USER</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input type="password"
                                       class="form-control"
                                       placeholder="******"
                                       name="password"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input type="password"
                                       class="form-control"
                                       placeholder="******"
                                       name="passwordVerify"/>
                            </div>
                        </div>
                        <!--X-CSRF-TOKEN-->
                        <input type="hidden"
                               name="_csrf"
                               value="${_csrf.token}"/>
                        <!--X-CSRF-TOKEN-->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Register</button>
                        </div>
                    </form>
                </article>
            </div>

        </aside>
    </div>

</div>
</body>

<script>
    $(document).ready(function () {
        $('#register-user').on('submit', function () {
            var form = document.getElementById('register-user');
            var formData = new FormData(form);

            $.ajax({
                type: 'POST',
                url: '/register',
                data: formData,
                headers: {"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
                contentType: false,
                cache: false,
                processData: false,
                success: function (msg) {
                    var message = msg;

                    if (message = 'success') {
                        message = 'User successfully created! You are redirected..';
                        $('.message').removeAttr('style').html('<div class="alert alert-success mt-4" role="alert">' +
                            message + '</div>');

                        setTimeout(function () {
                            window.location.href = '/index';
                        }, 2000);
                    } else {
                        $('.message').removeAttr('style').html('<div class="alert alert-danger mt-4" role="alert">' + message + '</div>');
                    }
                },
                error: function (e) {
                    alert(e.responseText);
                }
            });

            return false;
        });
    });
</script>